html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, em, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* define variables */
:root {
  --brokenwhite: #fbf6f5;
}


.current {
  text-decoration: none;
}

body  {
	/*font: normal normal 400;*/
	font-family: normal;
	font-weight: 300;
	font-size: 100%;
	line-height: 1.5em;
	font-family: Avenir,Verdana,sans-serif;
  max-width: 50%;
	margin-left: 14%;
  margin-bottom: 80px;
	background-color: var(--brokenwhite);
}

nav {
  background: var(--brokenwhite);
	padding-top: 10px;
	/*uncomment for fixed nav bar
	position: fixed;
  padding-bottom: 14px;
  padding-right: 600px;*/

}

a {
	color: #1d1d1d;
}

p {
	margin-bottom: 15px;
}

a:hover {
	color:#03B5AA;
	transition-duration: 0.8s;
}


h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 75px;
  margin-bottom: 20px;
	line-height: 0.9em;
}


h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 12px;
	line-height: 0.98em;

}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 9px;
}

ul {
	margin-left:30px;
	margin-top: 4px;
	max-width: 80%;
}

@media only screen and (max-width: 1000px) {
  body {
    overflow-x: hidden; /* This fixes scrollable on x for tablets but I took it from somewhere else so I don't really know what it does*/
		max-width: 73%;
		line-height: 2.4em;
		margin-left: 12%
  }

	nav {
		font-size: 2.55em;
		padding-top: 37px;
	}

	h2 {
	  margin-top: 90px;
	  margin-bottom: 24px;
	}

	p {
		margin-bottom: 32px;
		font-size: 0.9em;
	}

	ul {
		font-size: 0.9em;
		margin-left:70px;
		margin-top: 4px;
		max-width: 80%;
	}

}
